**Problem set 2**

Question 1:

In [ ]:
a = 0                 #initialize the variable
def b():              #define a function
 global a             #define a as a globle variable
 a = c(a)             #call the function c(a) and assign that return value to the globle variable
def c(a):             #define the function c(a)
 return a + 2         #return the value of a with plus 2
b()                   #call the function 1st time
b()                   #call the function 2nd time
b()                   #call the funnction 3rd time
print(a)              #print the value of a

6

Question 2:

In [ ]:
def fileLength(fname):
    try:
        file = open(fname)
        length = len(file.read())
        file.close()
        return length
    except FileNotFoundError:
        print("File", fname, "not found.")

In [ ]:
fileLength("Try.py")

File Try.py not found.

In [ ]:
fileLength("Try1.py")

File Try1.py not found.

Question 3:

In [ ]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y)


# Example usage:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k = Kangaroo(0, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
k.jump(3,1)
print(k)  # Output: I am a Kangaroo located at coordinates (3,0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (6,1)

Question 4:

In [ ]:
def printcollatz(x):
  while x != 1:
        print(x, end = '\n')
        if x & 1:
            x = 3 * x + 1
        else:
            x = x // 2


  print(x)

In [ ]:
printcollatz(1)

1

In [ ]:
printcollatz(10)

10
5
16
8
4
2
1

Question 5:

In [ ]:
def binary(n):
    if n == 0:
        print('0')
    elif n == 1:
        print('1')
    else:
        print(n % 2, end='')
        binary(n // 2)  # Recursive call with n divided by 2

binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

Question 6:

In [ ]:
from html.parser import HTMLParser			#Import the parser

class HeadingParser(HTMLParser):		#create a subclass of HTMLParser which will overload handle..
    def __init__(self):
        super().__init__()
        self.inHead = False
        self.head_=""
        self.heading_={"h1":"","h2":" ","h3":"  ","h4":"   ","h5":"    ","h6":"     "}

    def handle_starttag(self, tag, attrs):
        if tag in self.heading_:
            self.head_=tag
            self.inHead = True
    def handle_data(self, data):
        if self.inHead:
            print(self.heading_[self.head_]+data)
    def handle_endtag(self, tag):
        if tag ==self.head_:
            self.inHead = False

infile = open("w3c.html", "r")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

Question 7:

In [ ]:
import requests

def webdir(url, depth, indent):
    if depth < 0:  # Base case: stop recursion when depth is negative
        return

    response = requests.get(url)
    if response.status_code == 200:
        print(' ' * indent + url)  # Print the URL with proper indentation

        if depth > 0:
            links = extract_links(response.text)
            # print(links)
            for link in links:
                webdir(link, depth - 1, indent +2)  # Recursively call webdir for each link

def extract_links(text_html):
    # Extract links from the HTML content
    # print(html)
    links = []
    start_pos = 0
    while True:
        start_link = text_html.find('<a href=', start_pos)
        if start_link == -1:
            break
        start_quote = text_html.find('"', start_link)
        # print(start_quote)
        end_quote = text_html.find('"', start_quote + 1)
        # print(end_quote)
        if (text_html[start_quote + 1:end_quote].startswith('http') ):
          link = text_html[start_quote + 1:end_quote]
          # print(link)
          links.append(link)
        # break

        # links.append(link)
        start_pos = end_quote + 1
    return links

In [ ]:
webdir('https://www.google.com/',2,0)

https://www.google.com/
  http://www.google.com/history/optout?hl=en
    https://accounts.google.com/login?hl=en

Question 8:

In [ ]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.16)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (67.7.2)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 21.6 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.6)
Installing collected packages: jedi
Successfully installed jedi-0.18.2

In [ ]:
!pip install "sqlalchemy<1.4"

Collecting sqlalchemy<1.4
  Downloading SQLAlchemy-1.3.24.tar.gz (6.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.4/6.4 MB 41.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.24-cp310-cp310-linux_x86_64.whl size=1268257 sha256=19881c0622708454218bb44e9a6e7583a3239ae2ae32745deca0d013ae22db28
  Stored in directory: /root/.cache/pip/wheels/27/51/b3/3481e88d5a5ba95dd4aafedc9316774d941c4ba61cfb93add8
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.16
    Uninstalling SQLAlchemy-2.0.16:
      Successfully uninstalled SQLAlchemy-2.0.16
Successfully installed sqlalchemy-1.3.24

In [ ]:
!pip list | grep -i sql

ipython-sql                      0.4.1
SQLAlchemy                       1.3.24
sqlparse                         0.4.4

In [ ]:
import sqlite3

sqliteConnection = sqlite3.connect('City_Season.db')
print("Successfully Connected to SQLite")

Successfully Connected to SQLite

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///City_Season.db

In [ ]:
%sql CREATE TABLE City_Season (City varchar(225),Country varchar(255),Season varchar(255),Temperature int,Rainfall int);

 * sqlite:///City_Season.db
Done.

[]

In [ ]:
%%sql
INSERT INTO City_Season VALUES ("Mumbai","India","Winter","24.8","5.9");
INSERT INTO City_Season VALUES ("Mumbai","India","Spring","28.4","16.2");
INSERT INTO City_Season VALUES ("Mumbai","India","Summer","27.9","1549.4");

INSERT INTO City_Season VALUES ("Mumbai","India","Fall","27.6","346.0");

INSERT INTO City_Season VALUES ("London","United Kingdom","Winter","4.2","207.7");
INSERT INTO City_Season VALUES ("London","United Kingdom","Spring","8.3","169.6");
INSERT INTO City_Season VALUES ("London","United Kingdom","Summer","15.7","157.0");
INSERT INTO City_Season VALUES ("London","United Kingdom","Fall","10.4","218.5");

INSERT INTO City_Season VALUES ("Cairo","Egypt","Winter","13.6","16.5");
INSERT INTO City_Season VALUES ("Cairo","Egypt","Spring","20.7","6.5");
INSERT INTO City_Season VALUES ("Cairo","Egypt","Summer","27.7","0.1");
INSERT INTO City_Season VALUES ("Cairo","Egypt","Fall","22.2","4.5");

 * sqlite:///City_Season.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
SELECT * from City_Season;

 * sqlite:///City_Season.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

a.

In [ ]:
%sql SELECT Temperature FROM City_Season;

 * sqlite:///City_Season.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b.

In [ ]:
%sql SELECT distinct City FROM City_Season;

 * sqlite:///City_Season.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

c.

In [ ]:
%sql SELECT * FROM City_Season where Country="India";

 * sqlite:///City_Season.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

d.

In [ ]:
%sql SELECT * FROM City_Season where Season="Fall";

 * sqlite:///City_Season.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e.

In [ ]:
%sql SELECT City, Country, Season FROM City_Season GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400;

 * sqlite:///City_Season.db
Done.

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

f.

In [ ]:
%sql SELECT City, Country FROM City_Season WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC;

 * sqlite:///City_Season.db
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g.

In [ ]:
%sql SELECT SUM(Rainfall) AS TotalRainfall FROM City_Season WHERE City = 'Cairo';

 * sqlite:///City_Season.db
Done.

[(27.6,)]

h.

In [ ]:
%sql SELECT Season, SUM(Rainfall) AS TotalRainfall FROM City_Season GROUP BY Season;

 * sqlite:///City_Season.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

Question 9:

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

a.

In [ ]:
[word.upper() for word in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b.

In [ ]:
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c.

In [ ]:
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d.

In [ ]:
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

[[word.upper(), word.lower(), len(word)] for word in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

e.

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[word for word in words if len(word) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']